{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src",
          "~": "./src",
          "@@": "./src",
          "~~": "./src"
        }
      }
    ]
  ]
}
